:root {
    --nav-background: rgb(53,74,95);
    --selected-background: rgb(50,75,97);
    --window-background: rgb(29,34,40);
    --selected-background: rgb(50,75,97);
    --nav-font-color: rgb(173,194,215);
  }