

button {
    padding: .5rem;
    border-radius: .5rem;
    margin: .2rem;
    border: none;    
    border: 1px solid rgb(161, 161, 161);    ;
}

select {
    padding: .35rem;
    border-radius: .5rem;
    background-color: rgb(255, 255, 255);    
    border: 1px solid rgb(161, 161, 161);    ;
    margin: .2rem;
}

select[color=red] {
    background-color: rgb(236, 207, 207);
}

button[color=red] {
    background-color: rgb(221, 96, 96); 
}

button[color="light blue"] {
    background-color: rgb(114, 153, 236);        
}

button[color="blue"] {
    background-color: rgb(8, 80, 128);        
}

button[color=green] {
    background-color: rgb(58, 180, 105); 
}

i.fa-star{
    color: rgb(255, 194, 25);
}

/*
*/
button[disabled][color]{
    background-color: rgb(214, 214, 214); 
    color: rgb(170, 170, 170); 
}

button[color],select[color] {    
    color: white;
    border: none;
    padding: .55rem;
}

*[long] {
    min-width: 10rem;
}

button:hover:not([disabled]) {
    filter: brightness(90%);
}

input[type=text],
input[type=email],
input[type=number],
input[type=tel] {
    padding: .5rem;
    border-radius: .5rem;
    margin: .2rem;
    border: 1px solid rgb(161, 161, 161);       
}

textarea {
    margin: .5rem;
    border-radius: .5rem;
    width: 100%;
    padding: .5rem;
}

.text-area-div {
    color: black;
    margin: .5rem;
    border-radius: .5rem;
    width: 100%;
    padding: .5rem;
    border: 1px solid rgb(161, 161, 161);       
    min-height: 8rem;
}

.text-area-div[contenteditable=false],.text-area-div:not([contenteditable])   {
    background-color: hsl(0, 0%, 98%);
    border-color:  hsl(0, 0%, 80%);
    color: black;
}

.light-header{
    font-weight: 300;
}

.no-width{
    width: 0%;    
}

.input-height-label {
    
    line-height: 2.5rem;
}

.form-error {   
    outline: 1px solid red;
    animation: shake .5s;   
}

@keyframes shake {
    10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
    
}