

button {
    padding: .5rem;
    border-radius: .5rem;
    margin: .2rem;
    border: none;    
    border: 1px solid rgb(161, 161, 161);    ;
}

select {
    padding: .35rem;
    border-radius: .5rem;
    background-color: rgb(255, 255, 255);    
    border: 1px solid rgb(161, 161, 161);    ;
    margin: .2rem;
}

select[color=red] {
    background-color: rgb(236, 207, 207);
}

button[color=red] {
    background-color: rgb(221, 96, 96); 
}

button[color="light blue"] {
    background-color: rgb(114, 153, 236);        
}

button[color="blue"] {
    background-color: rgb(8, 80, 128);        
}

button[color=green] {
    background-color: rgb(58, 180, 105); 
}

i.fa-star{
    color: rgb(255, 194, 25);
}

button[color],select[color] {    
    color: white;
    border: none;
    padding: .55rem;
}

*[long] {
    min-width: 10rem;
}

button:hover {
    filter: brightness(90%);
}

input[type=text],
input[type=email],
input[type=number],
input[type=tel] {
    padding: .5rem;
    border-radius: .5rem;
    margin: .2rem;
    border: 1px solid rgb(161, 161, 161);       
}

textarea {
    margin: .5rem;
    border-radius: .5rem;
    width: 100%;
    padding: .5rem;
}

.light-header{
    font-weight: 300;
}

.no-width{
    width: 0%;    
}

